{{define "title"}}reCAPTCHA 1.0{{end}}

{{define "root"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{template "title"}}</title>
	</head>
	<body>
		<h1>{{template "title"}}</h1>
		{{template "recaptcha" .}}
		{{with .Result}}<p>Result: {{.}}</p>{{end}}
	</body>
</html>
{{end}}

{{define "recaptcha"}}
	<form action="/" method="POST">
	<script type="text/javascript"
		src="{{.Server}}/challenge?k={{.Public}}">
	</script>
	<noscript>
		<iframe src="{{.Server}}/noscript?k={{.Public}}"
			height="300" width="500" frameborder="0">
		</iframe><br>
		<textarea name="recaptcha_challenge_filed"
			rows="3" cols="40">
		</textarea>
		<input type="hidden" name="recaptcha_response_field"
			value="manual_challenge">
	</noscript>
	<input type="submit">
	</form>
{{end}}
